<form #formulaire="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Name" class="form-control" ngModel name="name" required>
  </div>

  <div class="form-group mt-3">
    <label for="firstname">FirstName</label>
    <input type="text" id="firstname" placeholder="FirstName" class="form-control" ngModel name="firstname" required>
  </div>

  <div class="form-group mt-3">
    <label for="age">Age</label>
    <input type="number" min="0" max="170" id="age" placeholder="Age" class="form-control" ngModel name="age" required>
  </div>

  <div class="form-group mt-3">
    <label for="cin">Cin</label>
    <input type="number" id="cin" placeholder="Cin" class="form-control" ngModel name="cin" required>
  </div>

  <div class="form-group mt-3">
    <label for="job">Job</label>
    <input type="text" id="job" placeholder="Job" class="form-control" ngModel name="job" required>
  </div>

  <div class="form-group mt-3">
    <label for="path">Path</label>
    <input type="text" id="path" placeholder="Path" class="form-control" ngModel name="path">
  </div>

  <div class="form-group mt-3">
    <button [disabled]="formulaire.invalid" class="btn btn-success" (click)="addPersonne(formulaire)">Envoyer</button>
  </div>

</form>
