<!-- <div class="alert alert-success">Bonjour Success <i class="fa fa-smile-o" aria-hidden="true"></i> </div>

<div [hidden]="show" [style.backgroundColor]="bgColor">
  Binding
</div>

<button class="btn btn-danger" (click)="changeStatus()">Allumer/Eteindre</button> -->

<!-- <app-color></app-color> -->

<!-- <app-style></app-style> -->
<!-- <app-class></app-class> -->

<!-- <app-cv></app-cv> -->

<app-header></app-header>
<!-- <app-router-simulator></app-router-simulator> -->

<!-- <app-observable></app-observable> -->

<app-search></app-search>

<router-outlet></router-outlet>
